.default
{
    max-width: 100%;

    .upperContent,
    .lowerContent
    {
        .contentBackground
        {
            fill: #fff;
        }

        &:hover,
        &.highlight
        {
            .contentBackground
            {
                fill: #D4EBF5;
            }
        }
    }

    .content
    {
        transition: ease all 0.2s;

        &.belowIsShown
        {

            transform: translateY(-60px);
        }
    }

    .rectanglePath
    {
        fill: #E6E6E6;
    }

    .upperContent:hover,
    .lowerContent:hover
    {
        .rectanglePath
        {
            fill: #289BC8;
        }
    }
}

/* upperContent and lowerContent */
/* BLUE: #289BC8 */
/* GREY: #E6E6E6 */
