.default
{
    max-width: 100%;

    .content
    {
        transition: ease all 0.2s;
    }

    .upperContent,
    .lowerContent
    {
        .contentBackground
        {
            transition: ease all 0.2s;
            fill: #fff;
        }

        &:hover
        {
            .contentBackground
            {
                fill: #D4EBF5;
            }

            .rectanglePath
            {
                fill: #C0D7E1;
            }
        }
    }

    .rectanglePath
    {
        fill: #E6E6E6;
        transition: ease all 0.2s;
    }

    .divider
    {
        transition: ease all 0.2s;
    }
}

.showBelow .content
{
    transform: translateY(-60px);
}

.showBelow .divider
{
    transform: translateY(82px);
}

.highlight__above
{
    .upperContent
    {
        .contentBackground
        {
            fill: #D4EBF5;
        }

        .rectanglePath
        {
            fill: #C0D7E1;
        }
    }
}

.highlight__below
{
    .lowerContent
    {
        .contentBackground
        {
            fill: #D4EBF5;
        }

        .rectanglePath
        {
            fill: #C0D7E1;
        }
    }
}

.upperSelected .upperContent
{
    .rectanglePath
    {
        fill: #289BC8;
    }
}

.lowerSelected .lowerContent
{
    .rectanglePath
    {
        fill: #289BC8;
    }
}
